{% load static wagtailuserbar wagtailcore_tags hjwebdev %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#f0824e">
        <meta name="theme-color" content="#ffffff">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div class="header-container">
<!--             <div class="sun"></div>
            <div class="bg-gradient"></div>
            <div class="clouds"></div> -->
            <div class="container">

                    <div class="hj-container {% if self.url == '/' %}active{% endif %}">
                        <a href="/">
                        <!-- <div class="logo-container"> -->
                        {% if self.url == '/' %}
                        <img class="hj-logo" src="/static/img/logov3whitetext.png">
                        {% else %}
                        <img class="hj-logo hj-logo-notext" src="/static/img/logov3whitenotext.png">
                        <img class="hj-logo hj-logo-text" src="/static/img/logov3whitetext.png">
                        {% endif %}
                        <!-- <div class="webdev-text">webdev</div> -->
                        <!-- </div> -->
                        </a>
                        <!-- <div class="hj-block"></div>
                        <div class="hj-text-container"><div class="hj-text">HJ</div></div> -->
                    </div>
                    <div class="menu-items">
                        {% get_site_root as site_root %}
                        {% top_menu parent=site_root calling_page=self %}
                    </div>



                <!-- <h1><span>S</span><span>o</span><span>h</span><span>a</span><span>m</span><br><span>P</span><span>l</span><span>a</span><span>y</span><span>g</span><span>r</span><span>o</span><span>u</span><span>p</span></h1> -->

                <!-- <a href="/"><div class="logo-container"> -->
                    <!-- <img class="logo logo2" src="/static/img/logo_sun.png"> -->
                <!-- </div></a> -->


                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <!-- <div class="addthis_inline_follow_toolbox"></div> -->
                </div>

        </div>

        <!-- <div class="nav-container">

            <div class="container">
                {% comment %}
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self %}
                {% endcomment %}
            </div>

        </div> -->

        <div class="content-container">
            {% if messages %}
            <div class="messages-container">
                {% for message in messages %}
                <div{% if message.tags %} class="{{ message.tags }}-message message"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
                    {% block content %}{% endblock %}
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <!-- <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57eff3fe85b2259f"></script> -->

    </body>
</html>

{% comment %}
{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/HJWebDevSite.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/HJWebDevSite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
{% endcomment %}